<% include partials/header %>
	<h1>You fall in love with: <%= thingVar.toUpperCase() %> </h1>
	 <% if (thingVar.toLowerCase() === "pomsky"){ %> 
		<p>Good choice. Pomsky is the best</p>
	 <% } else { %>
	 	<p>Bad choice!</p>
	 <% } %>
	<p>P.S this is from love.ejs file</p>
<% include partials/footer %>